.puchasebutton
{
    background-color: #FFD300;
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: 100ms;
    
}
.puchasebutton:hover
{
    background-color: #dcaf00;
}
.addedBox
{

    display: flex;
    justify-content: space-between;
    width: 96px;
    font-size: 16px;
    font-weight: 500;
    
}

.plusminusbtn
{
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    cursor: pointer;
    background-color: inherit;
    transition: 100ms;
}
p
{
    padding-top: 6px;
    margin: 0;
    vertical-align: baseline;
}