.basket
{
    display: flex;
    flex-direction: row-reverse;
    margin: 50px 0;
}
.basket-icon
{
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.svg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    display: block;
    z-index: 3;
}
.count
{
    color: white;
    background-color: red;
    padding: 3px 9px;
    border-radius: 50%;
    z-index: 4;
    right: -6px;
    top: -6px;
    position: absolute;
}